name = "shakthisangitasabha-com"
compatibility_date = "2026-02-08"
workers_dev = false
preview_urls = false

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

[build]
command = "npm install && npm run build"

[assets]
directory = "./public"
